@charset "utf-8";
/* CSS Document */

@font-face {font-family: 'CoreSansNR-Normal'; font-weight:normal; src: url('fonts/s-core_-_coresansnr45regular-webfont.eot');src: url('fonts/s-core_-_coresansnr45regular-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/s-core_-_coresansnr45regular-webfont.woff') format('woff'),url('fonts/s-core_-_coresansnr45regular-webfont.ttf') format('truetype');}

@font-face {font-family: 'CoreSansNR-Bold'; font-weight:bold; src: url('fonts/s-core_-_coresansnr65bold-webfont.eot');src: url('fonts/s-core_-_coresansnr65bold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/s-core_-_coresansnr65bold-webfont.woff') format('woff'),url('fonts/s-core_-_coresansnr65bold-webfont.ttf') format('truetype');}

@font-face {font-family: 'CoreSansNR-Heavy'; font-weight:800; src: url('fonts/s-core_-_coresansnr85heavy-webfont.eot');src: url('fonts/s-core_-_coresansnr85heavy-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/s-core_-_coresansnr85heavy-webfont.woff') format('woff'),url('fonts/s-core_-_coresansnr85heavy-webfont.ttf') format('truetype');}

@font-face {font-family: 'CoreSansNR-Lighter'; font-weight:normal; src: url('fonts/s-core_-_coresansnr35light-webfont.eot');src: url('fonts/s-core_-_coresansnr35light-webfont?#iefix') format('embedded-opentype'),url('fonts/s-core_-_coresansnr35light-webfont.woff') format('woff'),url('fonts/s-core_-_coresansnr35light-webfont.ttf') format('truetype');}


header,nav,section,article,aside,footer,main {display:block;}
body,input,select,textarea {font-family: 'CoreSansNR-Normal';font-weight:normal;} 
h1,h2,h3,h4,h5,h6,b,strong {font-family: 'CoreSansNR-Bold';font-weight:normal;}
#menu-main-menu li a, .banner h3, strong.title{font-family: 'CoreSansNR-Lighter';font-weight:normal;}
strong.trax, .trax {display:none;}
.banner h1,footer section h1 {font-family: 'CoreSansNR-Heavy';}