@charset "utf-8"; 

/* Smartphones and tablets----------- */
@media only screen and (max-width : 767px) {
header img#logo {width:100%;max-width:450px;}
.wrap {width:auto;margin:0 20px 0 20px;}

section.main, aside, section.full, .promo section {margin-top:20px;width:100%;}
aside,.promo section {clear:both;margin-top:0;}
.promo section .flag{height:100px;}

.social{display:none;}

#mobile{display:block;}
#menu-main-menu, #menu-main-menu li {overflow:hidden;height:0;margin:0px;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;transition: all .5s ease;padding:0;font-size:1em;}
#menu-main-menu{position:relative;}
#menu-main-menu li{display:block;}
#menu-main-menu.show {height:auto;}
#menu-main-menu.show li {height:auto;border-top:#111 solid 1px;padding:10px 0 0 0;margin-top:10px;}

body {font-size:0.95em;}
article p {font-size:1.1em;}
main article{margin-bottom:20px;}
}

/* Smartphones----------- */
@media only screen and (max-width : 480px) {
.wrap {margin:0 10px 0 10px;}
.banner {height: 250px;}
.banner section {margin-top:90px;font-size:0.65em;}
section article section img {width:100px;}
section article section img.size-full {width:100%;}
}

/* tablets ----------- */
@media only screen and (min-width : 481px) and (max-width : 767px) {
.banner {height: 300px;}
.banner section {margin-top:120px;font-size:0.75em;}
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1021px) {
.wrap {margin:auto;width:707px;} /*+20 for scroll, +20 for left margin, +20 for right margin = 1024*/
section.main {width:468px;} /* + 40 + */ aside {width:199px;} /* = 707 */
.promo section {width:209px;}  /* = 707 - 40 - 40 / 3 */
.promo section .flag{height:150px;}
.banner {height: 400px;}
.banner section {margin-top:150px;}
span.day, span.month{clear:none;}
span.day {margin:0 2px 0 0;}
article.event time{float:none;margin-left:0;}
aside article h1{clear:both;}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1022px) and (max-width : 1279px) {
/* Default ----------- */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1280px) and (max-width : 1363px) {
.wrap {margin:auto;width:1220px;} /*+20 for scroll, +20 for left margin, +20 for right margin = 1024*/
section.main {width:826px;} /* + 40 + */ aside {width:354px;} /* = 1220 */
.promo section {width:380px;}  /* = 1220 - 40 - 40 / 3 */
.promo section .flag{height:100px;}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1364px) {
.wrap {margin:auto;width:1304px;} /*+20 for scroll, +20 for left margin, +20 for right margin = 1364*/
section.main {width:885px;} /* + 40 + */ aside {width:379px;} /* = 1304 */
.promo section {width:408px;}  /* = 1304 - 40 - 40 / 3 */
.promo section .flag{height:100px;}
}