@charset "utf-8";
/* CSS Document */

nav li,#menu-main-menu li a,h1,h2,h3 {display: inline;zoom: 1;}
article h1 {float:none;}
.banner h3 {width:490px;}
footer section h3 {width:375px;}
.social,#mobile{display:none;}